<h2>Available test scripts</h2>
<ul class="script">
    <li *ngFor="let script of scripts" [class.selected]="script === selectedScript" (click)="onSelect(script)">
        <span class="badge">{{script.name}}</span>
    </li>
</ul>
<div *ngIf="selectedScript">
    <h2>{{selectedScript.name}}</h2>
    <div *ngIf="content">
        <!--<textarea class="form-control" name="message" cols=100 rows=20 [(ngModel)]="content"></textarea>-->
        <ngx-codemirror [(ngModel)]="content" [options]="{
            lineNumbers: true,
            theme: 'material',
            mode: 'lua'
          }"></ngx-codemirror>
    </div>
    
    <div><button *ngIf="content" type="button" class="btn btn-default" (click)="updateScript(selectedScript, content)">Save</button></div>
    
    
    <select [ngModel]="target" (ngModelChange)="onChange($event)">
        <option disabled>Select Target</option>
        <option>Choose Target</option>
        <option [ngValue]="target" *ngFor="let target of targets">{{target.name}}</option>
    </select>
    <div><button type="button" class="btn btn-default" (click)="newJob(selectedScript)">Run</button></div>
</div>
